body{
    background-image: url(https://cdn.pixabay.com/photo/2017/03/09/23/39/ghana-2131205__340.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transform-origin: center;
    color: black;
    overflow:auto;
    
}
div{
    text-align: center;
    text-justify: auto;
    color: black;
    
}
#nameform{
    color:black;
}
h1{
    color: black;
    text-align: center;

}
form{
    align-items: left;
    display: flex;  
    flex-direction: column;
    width: 650px;
    
}

input{
    padding:  12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    align-items: center;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
   box-shadow: black;
   color: gold;
   background-color: black;
   }
